@page "/"

<div class="jumbotron">
    <h1>Hello, PcShop!</h1>
    <hr class="my-4" />
    <p class="lead">
        The database of our computers.
    </p>
    <NavLink href="/products" Match="NavLinkMatch.All" class="btn btn-primary btn-lg">
        Go to Product list
    </NavLink>

</div>


