<footer class="page-footer font-small pt-auto pd-auto bg-dark" style="width:100%; position: absolute;">
    <div class="container text-center text-light text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Online shop with computers</h5>
                <p>Project to class IW5 on BUT FIT </p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-5 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Created by</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="btn btn-lg" style="color: white" href="https://www.facebook.com/MartinKmenta1999" target="_blank">Martin Kmenta (xkment06)</a>
                    </li>
                    <li>
                        <a  class="btn btn-lg" style="color: white" href="https://www.facebook.com/janiel.dacko/" target="_blank">Daniel Jacko (xjacko04)</a>
                    </li>
                    <li>
                        <a class="btn btn-lg" style="color: white" href="https://www.facebook.com/vojtech.vlach.5" target="_blank">Vojta Vlach(xvlach22)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>