<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="">PcShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink href="/products" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">
                    Products
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/manufacturers" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">
                    Manufacturers
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/categories" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">
                    Categories
                </NavLink>
            </li>
        </ul>

        <EditForm Model="@SearchingModel" class="form-inline my-2 my-lg-0">
            <InputTextArea @bind-Value="SearchingModel.SearchedPhraseSet" placeholder="Search" aria-label="Search" type="search" class="form-control mr-sm-2" />
            <NavLink href="@SearchingModel.SearchedPhraseSearch" Match="NavLinkMatch.All" ActiveClass="active">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </NavLink>
        </EditForm>
    </div>
</nav>

